# Bonus: Temperature Analysis I

In [13]:
import pandas as pd
from datetime import datetime as dt

In [14]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [15]:
# Convert the date column format from string to datetime
df['date']= pd.to_datetime(df['date'])
# Check the format of 'Date' column
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19550 entries, 0 to 19549
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   station  19550 non-null  object
 1   date     19550 non-null  datetime64[ns]
 2   prcp     18103 non-null  float64
 3   tobs     19550 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(1), object(1)
memory usage: 611.1+ KB

In [17]:
# Set the date column as the DataFrame index
df.set_index('date').head() #note didn't set 'inplace=True'

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [19]:
# Drop the date column
df.drop(columns=['date'], axis=1).head() #again, didn't set inplace=True

       station  prcp  tobs
0  USC00519397  0.08    65
1  USC00519397  0.00    63
2  USC00519397  0.00    74
3  USC00519397  0.00    76
4  USC00519397   NaN    73

### Compare June and December data across all years

In [20]:
from scipy import stats

In [21]:
# Filter data for desired months
june_df = df[df.date.dt.month==6]
dec_df = df[df.date.dt.month==12]

In [26]:
# Identify the average temperature for June
june_avg = june_df.tobs.mean()
june_avg

74.94411764705882

In [28]:
# Identify the average temperature for December
dec_avg = dec_df.tobs.mean()
dec_avg

71.04152933421226

In [29]:
# Create collections of temperature data
dec_temps = dec_df.tobs.to_list()
june_temps = june_df.tobs.to_list()

In [31]:
#Check for normal distribution of December temperatures
stats.shapiro(dec_temps)

ShapiroResult(statistic=0.9843476414680481, pvalue=9.044617485520767e-12)

In [32]:
#check for normal distribution of June temperatures
stats.shapiro(june_temps)

ShapiroResult(statistic=0.983282744884491, pvalue=3.5219510684594835e-13)

In [34]:
# Run unpaired t-test

stats.ttest_ind(june_temps,dec_temps)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

I ran an unpaired t-test because the data (June temperatures and December temperatures) are independent of one another. A paired t-test would require same sized samples, and the samples here don't have to be the same size.

The pvalue is tiny, indicating that differences between the samples are not due to chance. So, there is a statistically significant difference between June and December temperatures at the Hawaiian locations in our dataset.